body {
    color:black;
    background-image: url("../images/floorboard_fullsize.jpg");
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
}

#topBar {
    background: darkred;
    height: 25px;
    margin-top: -8px;
    width: auto;
    margin-left: -8px;
    margin-right: -8px;
}

#animalButtons {
    margin: 20px;
}

button {
    color: white;
    background: darkred;
    border: none;
    padding: 10px;
    display: inline-block;
    border-radius: 5px;
    margin: 5px;
    font-weight: bold;
}

button:hover, #addAnimal:hover {
    background: red;
}

button:active, #addAnimal:active {
    background: silver;
    color: darkred;
}

#animalForm {
    background: white;
    padding: 20px;
    border: 12px;
    border-color: darkred;
    border-style: solid;
    float: right;
    margin-top: 30px;
    margin-right: 20px;
    color: darkred;
}

label {
    font-weight: bold;
}

#animalInput {
    width: 300px;
    margin-top: 5px;
    background:silver;
    border: none;
}

#addAnimal {
    color: white;
    background: darkred;
    border: none;
    padding: 10px;
    display: inline-block;
    border-radius: 5px;
    margin-top: 10px;
    font-weight: bold;
}

#animals {
    margin: 15px;
}

img {
    margin: 10px;
}